body{
    background-color: rgba(221, 221, 221, 0.562);
}
h1{
    text-align: center;
    background-color: aqua;
    color: black;
    padding: 8px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    /* border: 2px solid red; */
    font-size: 300px;
}
.subbox{
    /* border: 2px solid purple; */
    text-align: center;
    width: 300px;
    height: 300px;
    font-size: 300px;
}
.box{
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.round{
    background-image: url('Assets/Clock.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
}
#img1{
    height: 170px;
    bottom: 41px;
}
#img2{
    height: 229px;
    top: 199px;
    left: 632px;
}
#img3{
    height: 195px;
}
.position{
    position: absolute;
}